* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

table,
td,
th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 4px;
}

hr {
  width: 100%;
}
